/* Plantilla tomada de Eevi Rutanen - Final project template, Aalto University */
html, body {
  margin: 0;
  padding: 0;
  background: #FAF5EB;
  color: #50463C;
  font-family: 'Courier New', monospace;
}
canvas {
  display: block;
}
canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
/* se me estaba cruzando feísimo el texto con mi título así que
le pedí ayuda a chat y me dio el !important para forzar el tamaño del canvas y pues resolvió*/
/*es para forzar que ocupe el 100% del ancho y alto


#canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#info {
  position: fixed;
  bottom: 40px;
  left: 60px;
  z-index: 10;
}
h1 {
  font-weight: normal;
  font-family: Impact, sans-serif;
  font-size: 32px;
  letter-spacing: 4px;
  color: #50463C;
  margin: 0;
}
h3 {
  font-weight: normal;
  font-family: 'Courier New', monospace;
  color: #80706A;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 4px 0;
}
p {
  font-family: 'Courier New', monospace;
  font-size: 11px;
  line-height: 1.6;
  max-width: 400px;
  color: #80706A;
  margin: 4px 0;
}
#return {
  color: #50463C;
  font-size: 16px;
  text-decoration: none;
}
#return:hover {
  color: #39FF14;
}