/* Plantilla tomada de Eevi Rutanen - Final project template, Aalto University */

/* Tipografía del título del proyecto */
@font-face {
  font-family: "LeJardin";
  src: url("fonts/Le Jardin Secret.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: sans-serif;
}

canvas {
  display: block;
}

/* este elemento centra el canvas */
#canvasContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info {
  margin: 60px;
}

/* Solo se cambia la fuente del título del proyecto */
h1 {
  font-family: "LeJardin";
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

#return {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

#return:hover {
  color: #EFA6C8;
}